/* src/app/layouts/admin-layout/admin-layout.component.css */
.nav-link.active {
    background-color: #28a745;
    border-radius: 5px;
  }
  
  .nav-link:hover {
    background-color: #495057;
    border-radius: 5px;
  }